.layout_grid
{
display: grid;
grid-template-columns: 1fr 2fr 2fr 2fr;
grid-gap: 1em;
}

img{
    background-color: teal;
}

.header_grid{
    display: grid;
    background-color: springgreen;
    grid-column: 1/5;
    align-self: center;
}

h1{
    margin: 0;
    align-self: center;
    justify-self: center;
}
/*STORY*/
.story_grid{
background-color: royalblue;
grid-column: 1/5;
justify-self: left;
}

.story_grid>img{
float: left;
width: 300px;
height: 180px;
}

.story_grid>p{
    font-size:1.5em;
}

/*MOTTO*/
.motto_grid{
    background-color: rgb(158, 86, 34);
    height: 300px;
    justify-self: right;
    grid-column:1/5; 
}

.motto_grid>img{
    float: right;
    width: 300px;
    height: 180px;
}

.motto_grid>p{
    font-size:1.5em;
}

/*AIMS*/
.aim_grid{
background-color: salmon;
grid-column: 1/5;
justify-self: left;
}

.aim_grid>img{
    float: left;
    width: 300px;
    height: 180px;
    }
    
.aim_grid>p{
     font-size:1.5em;
}