
body{
    background-color: rgba(92, 194, 187, 0.171);
}

.layout_grid
{
display: grid;
grid-template-columns: 1fr 2fr 2fr 2fr;
grid-gap: 1em;
}

.header_grid{
    display: grid;
    border:3px solid royalblue;
    margin-bottom: 20px;
    grid-column: 1/5;
    align-self: center;
    background-image: url("../misc/cu_header.png");
}

div{
    border-radius: 10px;
}

h1{
    margin: 0;
    align-self: center;
    justify-self: center;
}

h2{
    background-image: url("../misc/cu_header.png");
    border: 1px solid red;
    border-radius: 4px;
}

/*STORY*/
.story_grid{
grid-column: 1/5;
justify-self: left;
height: 250px;
box-shadow: 5px 10px 18px #888888;
background-image: url("../misc/div_background.jpg");
}

.story_grid>img{
float: left;
width: 159px;
height: 180px;
}

.story_grid>p{
    font-size:1.3em;
}

/*MOTTO*/
.motto_grid{
    height: 250px;
    justify-self: right;
    grid-column:1/5; 
    width: 900px;
    box-shadow: 5px 10px 18px #888888;
    background-image: url("../misc/div_background.jpg");
}

.motto_grid>img{
    float: right;
    width: 180px;
    height: 180px;
}

.motto_grid>p{
    font-size:1.5em;
}

/*AIMS*/
.aim_grid{
grid-column: 1/5;
justify-self: left;
height: 250px;
box-shadow: 5px 10px 18px #888888;
background-image: url("../misc/div_background.jpg");
background-size: 100%;
}

.aim_grid>img{
    float: left;
    width: 340px;
    height: 180px;
    }
    
.aim_grid>p{
     font-size:1.3em;
}