@charset "utf-8";  
  
  html,
  html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  }

  body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
  }
  
.keyword {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    margin-bottom: 12px;
}
  
.price, .ratings, .conditions, .color  {
    width: 100%;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
    font-size: large;
  }

  .price:hover, .ratings:hover, .conditions:hover, .color:hover  {
    background-color:gainsboro;
  }

  .advanced_search  {
    margin-left: 1200px;
    padding: 12px 20px 12px 20px;
    background-color: rgb(206, 103, 103);
    color: white;
    text-transform: uppercase;
  }

  .advanced_search:hover  {
    background-color: rgb(170, 68, 68);
  }