/*
1.add javascrips
*/

body{
    background-color: rgba(92, 194, 187, 0.171);
}

/*global_feedback_grid*/

.global_feedback_grid{
    display: grid;
}


/*Titles*/
.feedback_title_grid{
    display: grid;
    border-top: 3px solid black;
    margin-bottom: 20px;
}

h1{
margin: 0;
font-size: 3em;
justify-self: center;
align-self:start;
color: rgb(45, 80, 112);
}

h2{
    font-size: 2em;
    margin: 0;
    background-color:rgba(72, 124, 173, 0.2);
    
    border-bottom: 2px solid rgb(142, 178, 231);
}

/*Image of feedback*/
.global_feedback_grid > img{
    justify-self: center;
    align-self:start;
    border: 8px solid rgb(142, 178, 231);
    border-radius: 100%;
    box-shadow: 5px 10px 18px #888888;
}

/*Feedback radio box*/
.feedback_radio_grid{
margin-top: 30px;
margin-bottom: 20px;
background-color: rgba(161, 175, 180, 0.4);
box-sizing: border-box;
border: 4px solid rgb(142, 178, 231);
border-radius: 8px;
width: 220px;
height: 250px;
justify-self: center;
box-shadow: 2.5px 5px 9px #888888;
}


.feedback_radio
{
    margin: 0;
    font-size: 1.5em;
}


.global_feedback_grid * input[type='radio'] {
    transform: scale(1.5);
    align-self: center;
}

/*Message box*/
.text_box_grid{
justify-self: center;
align-self: flex;
margin-left: 170px;
position: relative;
}

textarea{
width:500px;
height: 200px;
box-sizing: border-box;
border: 2px solid rgb(142, 178, 231);
border-radius: 4px;
background-color: #e0e9eb;
font-size: 16px;
}

/*submit button*/
.submit_button{
  background-color:white;
  border: 2px solid rgb(142, 178, 231);
  color: rgb(5, 31, 71);
  border-radius: 12px;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.submit_button:hover{
    background-color:rgb(26, 70, 136);
    border: 2px solid rgb(142, 178, 231);
    color: rgb(240, 242, 245);
    border-radius: 50px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2.5px 5px 9px #888888;
  }