.double{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1em;
}


.nested{
display: grid;    
grid-gap:1em;
height: fit-content;
}

.nested>div{
border:#333 1px solid ;
padding:1em;

}

.nested .grey{
    border-left: 6px solid grey;
    height: auto;
    
}
.nested .pink{
    border-left: 6px solid pink;
    height:auto;
}

.nested .gold{
    border-left:6px solid gold;
    height: auto;

}

.category{
color: grey;
opacity: 0.5;
}


div ul{    
    list-style-type: square;   
    padding: 0;
    margin: 1em;
   
}


div ul li span{
   color: black;
  }



 div ul.sPink{
    color: pink;
 } 

 div ul.sGrey{
    color: grey;
 } 

 div ul.sGold{
     
    color: gold;
 } 

 img{
    border-radius: 60%;
    width: 50px;
    }



#like {
 color: red;
 font-size: 0.7em;
}

#hate{
    font-size: 0.7em;
}

.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: white;
    border: 1px solid black;
    width:auto;
    min-width: 200px;
    font-size: 0.8em;
    color:black;
    text-align: center;  
    position: absolute;
    
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .blink:hover
  {

    border: rgb(255, 255, 255) 1px solid;
  }

 