* {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

.slideIn {
	animation: slideIn 0.5s;
}

html,
body {
	padding: 0;
	margin: 0;
}
header {
	padding: 10px 10%;
	display: grid;
	grid-template-areas:
		"blk-a blk-b blk-c"
		"blk2 blk2 blk2";
	grid-template-columns: 25% 50% 25%;
	background-color: rgba(86, 236, 247, 0.4);
}

header div {
	text-align: center;
}

#logotxt {
	font-size: 20px;
	font-weight: bold;
	color: #5c4c46;
	display: inline-block;
}

.search-container {
	padding: 5px 0;
}

.search-container input {
	width: 80%;
	box-sizing: border-box;
	height: 40px;
	padding: 0 20px;
	border-radius: 25px;
	outline: none;
	border: none;
	float: left;
}

.search-container input:focus {
	border: 2px solid #aa7523;
}

.search-btn-container {
	float: left;
	margin-left: 10px;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c4c8a2;
	vertical-align: middle;
	transition: all 0.3s ease;
}

.search-btn-container:hover {
	background-color: white;
	cursor: pointer;
	border: 2px solid #c4c8a2;
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(93%) sepia(13%) saturate(543%) hue-rotate(17deg)
		brightness(85%) contrast(88%);
}

.profile-logo:hover {
	cursor: pointer;
}

.drop-down-container {
	position: absolute;
	display: none;
	background-color: rgb(255, 255, 255);
	min-width: 160px;
	overflow: none;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: center;
}

.drop-down-content {
	padding: 10px;
}

.drop-enabled:hover {
	background-color: #1f1f1f17;
	cursor: pointer;
}

.drop-disabled {
	color: rgba(128, 128, 128, 0.486);
	cursor: auto;
}
