/*This is css for header*/

html, body {
    /* To allow page to stick to the edges */
    margin: 0;
    padding: 0;
}

/* Apply style to header instead of h1 */
/* h1 is a full line block, not a good idea to style that */
header {
    background-color: rgba(86, 236, 247, 0.4);
    margin: 0;
	max-height: 55px;
    height: 100%;
    padding: 10px 0px;
}

/*Home Logo*/
.logo {
	border-radius: 50%;
}

/* Search Bar container */
.search {
    /* Make sure its inline */
    display: inline-block;
    background: rgba(20, 111, 197, 0.6);
    /* Absolute positioning is positioned relative to the nearest positioned ancestor (in this case, the logo) */
    position: absolute;
    padding: 7px 7px;
    width: 600px; /* Set constant width for easier positioning*/
    left:50%; /* Push the container over 50% of the screen */
    margin-left: -300px; /* Center the element by giving it negative margin of half of element width */
}

.input {
    width: 300px;
	padding: 9px 75px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}

/*Our product*/

.our_product{
	display: inline-block;
	position: relative;
	left: 78%;
	top: -20px;
}

.our_product>a:link,.our_product>a:visited{
background-color: rgb(218, 197, 206);
text-decoration: none;
display: inline;
color: rgb(0, 0, 0);
padding: 14px 15px;
}

.our_product>a:active,.our_product>a:hover{
background-color: rgb(173, 141, 155);
text-decoration: none;
display: inline;
color: rgb(0, 0, 0);
padding: 14px 15px;
}

/*User profile*/
.userIcon {
	position: absolute;
	right: 0%;
	border: none;
	top: 1%;
	display: inline-block;
}

.dropdwn {
	color: rgb(39, 168, 39);
	padding: 5px;
	font-size: 16px;
	border-radius: 10%;
}

.dropdwn_content {
	display: none;
	position: absolute;
	background-color: rgb(255, 255, 255);
	min-width: 160px;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdwn_content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdwn_content a:hover {
	background-color: rgba(224, 206, 206, 0.7);
}

.userIcon:hover .dropdwn_content {
	display: block;
	right: 1%;
}

