

.size{
	margin: 0 auto;
	padding: 2%;
    min-width: 1000px;
    max-width: 1300px;
    
}


h1 {
	font-size:3em;	
	display:block;
	font-weight:normal;
	margin: 0.5em 0;
	font-family:cursive;	
	text-shadow: 1px 1px blue; 
	text-align:center;
	
}

h2{
	font-size:2em;
	display:block;
	font-weight:normal;
	margin: 0.5em 0;
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	text-align: left;
	
		
}

h3{
	font-size:1.5em;
	display:block;
	font-weight:normal;
	margin: 0.5em 0;
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;	
	text-align:left;
		
}

h4{
	font-size:1em;
	display:block;
	font-weight:normal;
	margin: 0.5em 0;
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;	
	text-align:left;
		
}









