
/* CSS Animation */
@keyframes fade-in {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

.fade-me-in {
    animation-name: fade-in;
    animation-duration: .3s;
}

* {
	font-family: sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* Page Container styling */
.item-r {
	grid-area: itemr;
}

.item-l {
	grid-area: iteml;
}

.page-container {
	display: grid;
	grid-template-areas: "iteml itemr";
	grid-template-columns: 60% 40%;
	padding: 20px;
}

/* Edit Icon styling */
[class^="icon"] {
	width: 20px;
	height: 20px;
	position: relative;
}

.icon-edit {
	left: 5px;
}

.editBtn {
	display: inline-block;
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(9%) sepia(99%) saturate(6107%) hue-rotate(247deg)
		brightness(100%) contrast(146%);
}

.editBtn:hover {
	cursor: pointer;
}

/* Sub Header styling */
.subHeader {
	display: inline-block;
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
}

.subHeaderContent {
	padding: 10px 10px;
}

/* Input Styling */
.input-container {
	display: inline-block; /* use inline-block to prevent div block taking full-width*/
	width: 50%;
	padding-bottom: 5px;
}

input[type="text"] {
	box-sizing: border-box;
	width: 100%; /* Parent of input is input-container so its fine */
	border-radius: 5px;
	outline: none;
	border: 2px solid rgb(150, 150, 150);
	padding: 5px 8px;
}

input[type="text"]:focus {
	border: 2px solid rgb(237, 20, 91);
	box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

/* Custom radio buttons */
.radioBtnContainer {
	display: inline-block;
	padding-right: 20px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	cursor: pointer;
}

input[type="radio"] + label::before {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 50%;
	width: 16px;
	height: 16px;

	margin-right: 5px;

	text-align: center;
	content: "";
	color: white;
	border: 1px solid red;
}

input[type="radio"]:checked + label::before {
	background-color: red;
	transition: all 0.3s ease;
}

input[type="radio"]:checked:hover + label::before {
	background-color: red;
}

input[type="radio"]:hover + label::before {
	background-color: rgba(255, 0, 0, 0.3);
}

/* Save changes button */
button {
	color: white;
	padding: 10px 20px;
	border-radius: 25px;
	background-color: rgb(237, 20, 91);
    border: none;
    outline: none;
}

button:disabled {
    background-color: grey;
    transition: opacity .3s ease;
    opacity: 65%;
}

button:enabled {
    background-color: rgb(237, 20, 91);
    transition: opacity .3s ease;
    opacity: 100%;
}

button:hover {
	cursor: pointer;
}