@charset "utf-8";  
html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 6px;
  }
  
  .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 10px 0px 0px 100px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

  .summary {
    background-color: #f2f2f2;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
  }
  
  .summary-subtotal,
  .summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
  }

  .subtotal-title,
  .subtotal-value,
  .total-title,
  .total-value,
  .shippingfee-title,
  .shippingfee-value,
  .taxrate-value,
  .taxrate-title {
    color: #111;
    float: left;
    width: 50%;
  }

  .subtotal-value,
  .total-value,
  .shippingfee-value,
  .taxrate-value {
    text-align: right;
  }

  .total-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtotal-value:before,
  .total-value:before,
  .shippingfee-value:before,
  .taxrate-value:before {
    content: 'RM ';
  }
  
  .row input[type=text] {
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
    
  .btn {
    background-color: rgb(206, 103, 103);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: rgb(170, 68, 68);
  }
