.double
{
  display: grid;
  grid-template-columns: 7fr 0.5fr 2fr;
  grid-gap:1em;
}

.double>div{
    border:#333 1px solid ;
    padding:1em;
   
}

.product{
   
    grid-column: 1/3;
   
}



.info{
    grid-column: 3;
    grid-row:1/4;
}

#pic{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:1em;

}

#pic>div{

    padding:1em;
   
}

.column {
    float: left;   
    width: 10%;
    box-sizing: border-box;
  }

.box{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.column:hover{

    border:#333 1px solid ;
    width: 80%;
}

.detail
{
    border:#333 1px solid ;
    font-size: 1.5em;
	background-color: lightgray;
	margin-left: 10%;

}

.detail:hover
{

 background-color: white;
 border: #333 1px solid;

}

.review{

    margin-left: 15%;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
   
    width: 40px;
    height: 20px;
    
    padding: 11px 0;
    background: #eee;
  
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }

  .cartbuy
  {
 font-size: 1.5em;
 border: #333 1px solid ;
 padding: 1em;
  }
  
  .cartbuy:hover
  {
    color: yellow;
  }

  #background
  {
    background-color:rgba(170, 170, 170, 0.1);
    border: 1px solid rgb(255, 255, 255);
    height: 11%;
   
  }

  table, th, td {
    border:#333 1px solid ;
  }

  