body {
    background-color: rgba(92, 194, 187, 0.171);
  }



.double
{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap:1em;
}

.double>div{
    border:#333 1px solid ;
    padding:1em;
    
}

.gift{
    width:auto;
    height: 800px;
    overflow: auto;
   

}



.popularG{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1em;
}

.popularG>div
{
    
    border:#333 1px solid ;
    padding:1em;
}

#a:hover
{
    
    border: rgb(54, 140, 197) 1px solid;

}


.price
{
font-weight: bold;
color: black;


}

.sort
{
    padding: 0.5em;
    font-size: 1.5em;

	margin-left: 10%;

}


.sort:hover
{

 background-color: rgba(54, 140, 197,0.5) ;
 

}

.nested{

    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap: 1em;
    grid-auto-rows: minmax(50px,auto);
  
}

.nested>div{
margin: 1em;
padding: 1em;
border: #333 1px solid;
grid-auto-rows: 70px;
}

.star{
    font-size: 0.9em;
    color: rgba(136, 136, 136,0.7);
}