html, body{
    margin: 0;
    padding: 0;
}

/*Globel Footer*/
footer a{
    text-decoration: none;
}

footer{
    background-color:rgba(158, 154, 154, 0.7);
    margin: 0px;
    border: none;
    padding:0px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* Footer links */
.footer_links{
    display: grid;
    list-style-type: none;
    margin: 0;
    font-weight:bold;
    font-style: italic;
    font-size: 1.5em;
    background-color: coral;
    grid-auto-rows: 40px;
    align-self: center;
}

.footer_links>li{
    font-size: 1.3em;
}

.footer_links>li>:link{
    color: rgba(156, 139, 151,0.8);
}

.footer_links>li>:visited{
    color: rgb(156, 40, 118)
}

.footer_links>li>:hover{
    color: rgb(192, 91, 158);
}

.footer_links>li>:active{
    color: green;   
}

/*Company name and motto*/
.footer_title_grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
}

.footer_com_name{ 
    display: grid;
    align-self:center;
    padding :7px 7px;
    font-size: 3em;
    background-color: lawngreen;
    grid-column: 1/3;
    margin: 0;
}

.footer_com_motto{
    display: grid;
    font-size: 1.8em;
    background-color: rgb(118, 118, 189);
    margin: 0;
    align-self:top;
    grid-column : 1/3;
}

/*Contact us footer*/

.footer_contacts>ul>li{
    list-style-type: none;
}

.footer_contacts{
    background-color: cyan;
    margin: 0;
}

.footer_contacts > p{
margin: 0;
}
