
/*This is css for header*/

h1{
background-color: rgba(86, 236, 247,0.4);
margin-top: 0;
padding: 0;
max-height: 55px;
height: 100%;
}

/*Home Logo*/
.logo{
    border-radius: 50%;
}

/*Search*/
.search{
    position: absolute;
    right: 33%;
    top: 1%;
    background: rgba(20, 111, 197, 0.6);
    max-width: 550px;
    width: 100%;
    padding: 10px 8px;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

.search .input {
    width: 85%;
    padding: 9px 75px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/*User profile*/
.userIcon{
    position: absolute;
    right: 0%;
    border: none;
    top: 1%;
    display: inline-block;
}

.dropdwn {
    color: rgb(39, 168, 39);
    padding: 5px;
    font-size: 16px;
    border-radius: 10%;
  }

.dropdwn_content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdwn_content a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdwn_content a:hover
{
    background-color:rgba(224, 206, 206, 0.7);
}

.userIcon:hover .dropdwn_content{
    display: block;
    right: 1%;
}