<a href="home_page.htm">
	<div style="grid-area: blk-a;">
		<img
			style="vertical-align: middle;"
			src="misc/newlogo.gif"
			alt="Logo"
		/>

		<span id="logotxt">The Snow Globe</span>
	</div>
</a>
<div style="grid-area: blk-b;">
	<div class="search-container">
		<form
            action="The Snow Glob Product Listing.html"
            id="search_form"
            style="width: 80%;display: block;float: left; box-sizing: border-box;"
		>
			<input
				type="text"
				name="search_query"
				id="search_query"
				placeholder="Enter What you're looking for !"
			/>
		</form>

		<div
			class="search-btn-container"
			onclick='window.location.href = "The Snow Glob Product Listing.html?search_query=" + document.getElementById("search_query").value;'
		>
			<span
				style="
					height: 100%;
					display: inline-block;
					vertical-align: middle;
				"
			></span>
			<img
				style="
					display: inline-block;
					vertical-align: middle;
					text-align: center;
				"
				src="misc/searchIco.png"
				width="20px"
				height="20px"
			/>
		</div>
	</div>
</div>
<div id="header-3c" style="grid-area: blk-c;">
	<img
		id="profileIco"
		class="profile-logo"
		style="border-radius: 50%;"
		src="misc/newprofile.gif"
		width="48px"
		height="48px"
	/>
	<div class="drop-down-container slideIn">
		<div class="drop-down-content drop-disabled slideIn" id="myProfileBtn">
			My Profile
		</div>
		<div class="drop-down-content drop-disabled slideIn" id="trackOrderBtn">
			Track my order
		</div>
		<div class="drop-down-content drop-disabled slideIn" id="mycartBtn">
			My cart
		</div>
		<hr />
		<div class="drop-down-content drop-enabled slideIn" id="openLoginBox">
			Log in
		</div>
		<div class="drop-down-content drop-enabled slideIn" id="openSignupBtn">
			Sign up
		</div>
		<div
			style="display: none;"
			id="logOutBtn"
			class="drop-down-content drop-enabled slideIn"
		>
			Log Out
		</div>
	</div>
</div>
<div style="grid-area: blk2;">
	<a style="text-decoration: none;" href="./home_page.htm">Home</a>
	|
	<a
		style="text-decoration: none;"
		href="The Snow Glob Product Listing.html"
		>Our Products</a
	>
	|
	<a style="text-decoration: none;" href="./about_us.htm">About Us</a>
	|
	<a style="text-decoration: none;" href="./advancedSearch.html"
		>Advanced Search</a
	>
</div>
